.page-title {
  font-size: 24px;
  font-weight: bold;
}

.my-horses-container {

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}



.create-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none !important;
  margin-bottom: 31px;
}
a {
  text-decoration: none; /* Remove o sublinhado do Link */
}

.create-button:hover {
  background-color: #0056b3;
}

.horses-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(219px, 0fr));
  gap: 20px;
  justify-content: start;
  margin-left: 30px;
      }


.horse-card {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.horse-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
}

.horse-image-container {
  width: 100%;
  height: 150px;
  overflow: hidden;
}

.myhorse-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.placeholder-image {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e2e2e2;
  color: #777;
  font-size: 14px;
}

.horse-info {
  padding: 15px;

}

.horse-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
  color: #333;
}
.horse-sender {
  font-size: 14px;
  color: #555;
  margin-bottom: 8px;
}
.horse-description {
  font-size: 14px;
  color: #555;
  margin-bottom: 30px;
}

.details-button {
  display: inline-block;
  background-color: white;
  color: #8EB486;
  padding: 8px 16px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 14px;
  transition: background-color 0.3s ease;
  margin-left: 40px;
  border: 2px solid #8EB486;
}

.details-button:hover {
  background-color: #6d9b6b;
}
}
@media (max-width: 768px){

  .my-horses-container .horses-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(218px, 0fr));
    gap: 20px;
    }

  .my-horses-container .create-button {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #007bff;
      color: white;
      border: none;
      border-radius: 8px;
      padding: 10px 20px;
      font-size: 16px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      text-decoration: none !important;
      margin-left: 65px;
    }

  .my-horses-container .details-button {
    display: inline-block;
    background-color: white;
    color: #8EB486;
    padding: 8px 16px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 14px;
    transition: background-color 0.3s ease;
    margin-left: 15px;
    border: 2px solid #8EB486;
    }
    }

    @media (max-width: 480px) {

      .page-title {
        margin-bottom: 10px !important;
      }
      .my-horses-container .horses-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(168px, 0fr));
        gap: 10px;
        justify-content: center;
        margin: 0;
    }

    .my-horses-container .create-button {
      margin-left: -10px;
    }

}
