/* Contêiner principal */
.content-container {
  flex: 1; /* Permite que o contêiner cresça para preencher o espaço disponível */
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* Estilos responsivos */
@media (max-width: 1200px) {
  .content-container {
    max-width: 1000px; /* Ajusta o limite de largura para laptops */
  }
}

@media (max-width: 768px) {
  .content-container {
    max-width: 90%; /* Ajusta o limite de largura para tablets e smartphones */
  }
}
