.genealogy-tree-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  overflow-x: auto; /* Permite rolagem horizontal */
}

.genealogy-tree {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.genealogy-container {
  display: flex;
  flex-direction: column; /* Alinha as gerações verticalmente */
  align-items: center;
  gap: 20px;
  position: relative; /* Necessário para posicionar as linhas */
}

.generation {
  display: flex;
  justify-content: center;
  gap: 20px;
  position: relative; /* Necessário para posicionar as linhas */
}

.ancestor-box {
  flex: 1 1 auto;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 8px;
  background-color: #f8f8f8;
  text-align: center;
  position: relative; /* Necessário para posicionar as linhas */
}

.ancestor-label {
  font-weight: bold;
  margin-bottom: 5px;
}

.ancestor-box p {
  margin: 5px 0;
}


.generation::before {
  top: 0;
  bottom: 50%;
  left: 50%;
  transform: translateX(-50%);
}

.generation::after {
  top: 50%;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.ancestor-box::before,
.ancestor-box::after {
  content: '';
  position: absolute;
  width: 2px;
  height: 20px;
  background-color: #000;
}

.ancestor-box::before {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.ancestor-box::after {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

/* Estilos responsivos */
@media (max-width: 768px) {
  .ancestor-box {
    flex: 1 1 100%;
  }

  .genealogy-container {
    flex-direction: column; /* Alinha as gerações verticalmente em telas menores */
    gap: 10px;
  }

  .generation {
    flex-direction: row; /* Alinha os ancestrais horizontalmente dentro de cada geração em telas menores */
    gap: 10px;
  }
}
