.history-titles{
  font-size: 24px;
  color: rgb(51, 51, 51);
  font-weight: bold;
  margin-bottom: 30px;
  margin-top: 60px;
}
/* Contêiner para o histórico com rolagem */
.history-table-container {
  max-height: 300px; /* Defina a altura máxima para a área visível */
  overflow-y: auto; /* Ativa a rolagem vertical */
  border: 1px solid #ddd; /* Borda para delimitar a área */
  border-radius: 5px; /* Bordas arredondadas */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra para estilo */
  background-color: #fff; /* Fundo branco */
}

/* Estilo geral da tabela */
.history-table table {
  width: 100%;
  border-collapse: collapse;
}

/* Cabeçalhos da tabela */
.history-table th {
  background-color: #E2E1E1; /* Cor de fundo cinza claro */
  color: #333; /* Cor do texto verde escuro */
  font-size: 18px; /* Tamanho das legendas */
  padding: 10px;
  text-align: left;
  position: sticky; /* Cabeçalhos fixos no topo ao rolar */
  top: 0;
  z-index: 1; /* Garante que o cabeçalho fique acima do conteúdo */
}

/* Células da tabela */
.history-table td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  font-size: 16px;
}

/* Botões para os estados */
.status-tag {
  padding: 5px 10px;
  border-radius: 15px;
  font-size: 14px;
  text-align: center;
  display: inline-block;
}

/* Cores específicas dos estados */
.status-updated {
  background-color: #ECC62F; /* Amarelo */
  color: white  ;
}

.status-received {
  background-color: #ccc; /* Cinza claro */
  color: white;
}

.status-shared {
  background-color: #25A5CC; /* Azul claro */
  color: white;
}

.status-deleted {
  background-color: #E64949; /* Vermelho */
  color: white;
}

.status-default {
  background-color: #8EB486; /* Verde claro */
  color: white;

}
@media (max-width: 768px) {
  .history-titles {
    font-size: 18px;
    margin-top: 100px;
    margin-bottom: 43px;
  }

  .history-table-container {
    max-height: 350px; /* Reduz a altura máxima */
    margin: 0 5px; /* Reduz o espaço lateral */
  }

  .history-table th {
    font-size: 14px; /* Reduz o tamanho do texto do cabeçalho */
    padding: 8px;
  }

  .history-table td {
    font-size: 12px; /* Reduz o tamanho do texto das células */
    padding: 8px;
  }

  .status-tag {
    font-size: 9px; /* Reduz o tamanho do texto dos botões */
    padding: 4px 8px;
  }
}
/* Responsividade: Ajustes para telas muito pequenas */
@media (max-width: 480px) {
  .history-titles {
    font-size: 18px;
    margin-top: 40px;
    margin-bottom: 30px;
  }

  .history-table-container {
    max-height: 350px; /* Reduz ainda mais a altura máxima */
  }

  .history-table th {
    font-size: 14px; /* Ajusta o tamanho do texto do cabeçalho */
    padding: 6px;
  }

  .history-table td {
    font-size: 10px;
    padding: 6px;

  }

  .status-tag {
    font-size: 10px; /* Ajusta o tamanho do texto dos botões */
    padding: 3px 6px;
  }
}
