body {
  font-family: 'Poppins', sans-serif;
  background-color: #d3d3d3;

}
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Garante que o contêiner preencha a altura da tela */
}

.content-container {
  flex: 1; /* Permite que o contêiner cresça para preencher o espaço disponível */
}
